.body {
  background-color:rgba(20, 20, 27, 1); 
}

.nav {
  position: fixed; 
  top: 0; 
  width: 100%; 
  opacity: 1; 
  background-color: rgba(0, 0, 0, 0.456);
  padding: 0%;
}

.round-img {
    width: 70%;
    border-radius: 20%;
    box-shadow: 0 0 55px rgba(255, 250, 255, 2);
    padding: 0.2em;
    margin-bottom: 2em;
  }


.col-margin {
  margin-top: 130px;
  margin-bottom: 0px;
}

.margin_text_but {
  color: white;
  text-shadow: 0 1px 0 rgb(0, 0, 0), 
               0 2px 0 #000000,
               0 3px 0 rgb(0, 0, 0),
               0 4px 0 #000000,
               0 5px 0 rgb(0, 0, 0),
               0 6px 1px rgba(255, 255, 255, 0.1),
               0 0 5px rgba(255, 255, 255, 0.1),
               0 1px 3px rgba(255, 251, 251, 0.3),
               0 3px 5px rgba(255, 255, 255, 0.2),
               0 5px 10px rgba(255, 255, 255, 0.25),
               0 10px 10px rgba(255, 245, 245, 0.2),
               0 20px 20px rgba(255, 255, 255, 0.15);
}
.center-block {
  color: white;
}
.mail_text {
  color: rgb(0, 255, 64);
}