/* .body {
background-color: aliceblue;
} */

.row {
    margin: 0px;
}
.left-bar{
    background-color:#153e8bf6;

    border-right: 1px solid #4a4a4a;
    border-bottom: 1.5px solid rgba(0, 0, 0, 0.584);
    box-shadow: 0 0 7px 3px #4a4a4a;
    color: white;
    padding: 0px;

}

.right-bar {
    /* background-color:rgba(157, 157, 157, 0.202);  */
    /* background-color:rgba(109, 109, 109, 0.134);  */
    /* height: 100vh;  */
    color: black;
    padding: 1%;
    
}

.round-img {
    width: 40%;
    height: 40%;
    border-radius: 1em;
    box-shadow: 0 0 1px 1px #ffffff;
    margin-top: 7%;
    margin-bottom: 4%;
}

.title-left {
    color:white;
    text-align: center;
    background-color:#032668f6;
    height: 1.5em;
    margin-right: 0%;
    margin-top: 3%;
    margin-bottom: 3%;
    font-weight:bold; 
}

.title-right {
    color:black;
    text-align: left;
    margin-right: 0%;
    margin-top: 3%;
    margin-bottom: 0px;
    font-weight:bold; 
}

li img {
    width: 16px;
    height: 16px;
    margin-right: 3%;
}
.contact ul{
    margin-left: 5%;
    padding-left: 0%;
    list-style: none;
    font-size: small;
}

.contact li {
    margin-bottom: 2%;
}

a, a:hover {
    color:rgb(38, 255, 0);
}

#right-title img {
    margin-right: 0.8%;
    margin-bottom: 0.3em;
}

.hr-horizontal-gradient {
    margin: -75px auto 1px;
    padding: 0;
    height: 75px;
    border: none;
    border-bottom: 1px solid #0033ff;
    box-shadow: 0 19px 10px -10px #494949;
    opacity: unset;   
}

.my-text {
    font-style:italic;
    font-family:serif; 
}

.right-h6 {
    color: rgb(7, 4, 180);
    text-align: center;
    margin-bottom: 0px;
    font-weight:bold; 
}

p {
    font-size: 1em;
    margin-bottom: 0.1px;
}
a .my-a {
    font-size: 1em;
    
}
.mini-title {
    font-size: 0.9em;
}